/*** Style for index.html (TaskForIFE) ***/
body{
  padding: 0;
  margin: 0;
  background: #dedede;
}
div{
  display: block;
}
div.content{
  width: 80%;
  margin: 0 auto;
}
nav{
  background: #333;
  height: 60px;
  width: 100%;
  padding-top: 10px;
  padding-left: 40px;
}
.nav_list{
  float: right;
  margin-right: 50px;
}
.nav_list ul{
  list-style-type: disc;
}
.nav_list li{
  float: left;
  margin-right: 30px;
  color: #000;
}
.nav_list li a{
  color: #fff;
  text-decoration: none;

  font-size: 0.5em;
}

article{
  margin-top: 20px;
  padding: 25px 20px 25px 20px;
  border-style: solid;
  border-color: #bbb #999 #999 #bbb;
  border-width: 1px 2px 2px 1px;
  background: #fff;
  width: 100%;
}

h1{
  font-size: 1.3em;
}
h2{
  font-size: 0.9em;
  color: #888;
}
p.author_time{
  font-size: 0.5em;
  color: #999;
  text-indent: 0;
}
p{
  font-size: 0.9em;
  color: #000;
  text-indent: 2em;
}
#article_list{
  list-style-type: none;
}
div.img{
  margin:15px;
  margin-left: 2em;
  padding: 10px;
  border:1px solid #bebebe;
  height:auto;
  width:20%;
  text-align:center;
}
div.img img{
  display:inline;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}
div.desc{
    font-size: 0.5em;
}
#demo-table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #888;
  font-size: 0.6em;
}
#demo-table th{
  font-weight: bold;
  background-color: #111;
  color: #fff;
  text-align: left;

}

#demo-table th,
#demo-table td{
    border: 1px solid #ccc;
    padding: 3px;
    padding-left: 4px;
}
#demo-table td.second_td {
  border-bottom: 3px #000;
}
#demo-table tfoot{
  background-color: #ccc;
  color: #000;
  font-weight: bold;
}

form {
    display: block;
    margin-top: 0em;
}
h2.side{
  text-align: left;
  border-left: 3px solid #ccc;
  padding: 10px;
  color: #000;
  font-weight: bold;
  font-size: 1.0em;
}
div.form{
  margin-top: 10px;
  margin-bottom: 10px;
}
div.input_title {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  margin-right: 10px;
  font-size: 0.8em;
}
div.input_tip{
  color: #888;
  font-size: 0.6em;
  margin-left: 40%;
  padding-left: 15px;
}
aside button{
  background: rgb(28, 99, 221);
  line-height: 3em;
  border-radius: 5px;
  border: 0;
  outline: none;
  color: #fff;
  width: 100%;
}

footer{
  text-align: center;
  background-color: #000;
  padding: 10px;
  width: 100%;
  height: 60px;
}
footer p{
  color: #fff;
  font-size: 0.5em;
  text-indent: 0;
}
